 body {
	background-color: #EEEEEE;
}
		
hr {
	border-style: none;
	border-top-style: dotted;
	border-color: #CAB8FF;
	border-width: 2px;
	width: 5%
}
		
img {
	border-radius: 50%;
}
	
h1 {
	color: #222831;
}

h3 {
	color: #222831;
}
	
	
<!--
222831
393E46
00ADB5
EEEEEE--!
colorhunt.co>
